:root {
    --dpad-radius: 10px;
    --bBtn-size: 170px;
}
body {
    font-family: 'ADLaM Display';
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #eaeaea;
    overflow: hidden;
    flex-direction: column;
    touch-action: manipulation;
    color: #383838;
}

.bTri .btn {
    position: fixed;
    top: 120px;
    width: var(--bBtn-size);
    height: var(--bBtn-size);
    border-radius: 20px;
    transform: rotate(45deg);
    font-size: 32px;
    z-index: 1;
}
.bTri.one .btn { left:  calc(var(--bBtn-size) / -2) }
.bTri.two .btn { right: calc(var(--bBtn-size) / -2) }
.bTri.one .text { left:  30px }
.bTri.two .text { right: 30px }
.bTri .text {
    position: fixed;
    top: 180px;
    font-size: 32px;
    z-index: 1;
    pointer-events: none;
}

.dpad {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    aspect-ratio: 1;
    filter: drop-shadow(0px 0px 4px gray);
}
.dpad div {
    flex: 0 0 33.3333%;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: none !important;
}
div.btn, .dpad div.ctr {
    background: #dadada;
    filter: drop-shadow(0px 0px 4px gray);
}
div.btn.pressed {
    background: #acacac;
}
.dpad div.btn#padUp   { border-radius: var(--dpad-radius) var(--dpad-radius) 0 0; }
.dpad div.btn#padLeft { border-radius: var(--dpad-radius) 0 0 var(--dpad-radius); }
.dpad div.btn#padRight{ border-radius: 0 var(--dpad-radius) var(--dpad-radius) 0; }
.dpad div.btn#padDown { border-radius: 0 0 var(--dpad-radius) var(--dpad-radius); }

#aBtn {
    margin-top: 50px;
    width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#homeRow {
    margin-top: 30px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
#homeRow div {
    width: 30px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#homeRow div#homeBtn svg {
    transform: scale(0.7);
}
#numBtns {
    margin-top: 60px;
    width: 50px;
    height: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
#numBtns div {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lights {
    margin-top: 50px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
#lights div {
    width: 15px;
    aspect-ratio: 1;
    background-color: #8f8f8f;
}
#lights div.on { background-color: #38f2ff; box-shadow: 0 0 11px 2px #48c8ff; }